<section class="movieInformation">
  <div class="movieInformation__container">
    {{#if movie.attributes.image}}
      <img class="movieInformation__img" src="{{movie.attributes.image.url}}" />
    {{/if}}
    <h1>{{movie.attributes.title}}</h1>
    <div class="movieInformation__intro">
      {{{movie.attributes.intro}}}
    </div>
    <a class="movieInformation__link" href="/">Back to homepage</a>
  </div>
</section>